{
  "name": "@smbpndk/${node_pkg}",
  "version": "${node_version}",
  "keywords": ["${node_pkg}","cli","binary","node","nodejs","npm","package","smbpndk"],
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"]
}